@import "tailwindcss";

@theme {
	--font-sans: "Inter", sans-serif;
	--font-mono: "JetBrains Mono", monospace;

	--color-off-white: #F5F5F4;
	--color-dark-black: #080808;
	--color-card-dark: #121212;
	--color-border-dark: #27272a;
}

@layer base {
	body {
		@apply font-sans antialiased text-gray-900 bg-white;
	}
}
